/* your custom css */

/*Disable Next and Previous docs since there isn't really a sequential order*/
.docs-prevnext {
  display: none;
}

.nav-footer .encouragement {
  color: #FFFFFF;
  margin: 0 auto 3em;
  padding: 10px;
  max-width: 1080px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (max-width: 1024px) {
  /*Header without text looks weird/offset on mobile, so let's center it*/
  .fixedHeaderContainer header {
    text-align: center;
    justify-content: center;
  }
}


@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
